.designs{
    background-color:yellowgreen;
    display: flex;
    padding-left: 10px ;
    flex-direction: column;
    justify-content: space-evenly;
}
.about{
    background-color:rosybrown;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}